{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block main %}
    <div style="width: 100%; height: 100%; justify-content: center; align-items: center; display: flex;">

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="logging--wr">
            <div class="logging-logo">
                <div class="loading_logo_box"></div>
                <span class="loading_logo_text">Kraiber</span>
            </div>

            <form class="logging--form" action="{{ path('app_login') }}" method="post">
                <section>
                    <label>Эл. почта</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required>
                </section>
                <section>
                    <label>Пароль</label>
                    <input type="password" id="password" name="_password" required>
                </section>

                <div class="logging--error"></div>

                <div class="m-btn--wr">
                    <button type="submit">Войти</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
