{% extends 'base.html.twig' %}

{% block title %}Дашборд{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="admin--title--wrapper">
                    <h2>Боты</h2>
                </div>

                {% if bots is empty %}
                    <div class="">
                        Данных нет
                    </div>
                {% endif %}

                {% for bot in bots %}
                    <a href="/admin/projects/{{ bot.projectId }}/bot/{{ bot.botId }}/"
                       style="text-decoration: none; color: #1c1f23">
                        <div class="wrapper--block wrapper--block--bots">
                            <span>
                                Название бота: {{ bot.botName }}
                            </span>

                            {% if bot.botActive is not empty %}
                                <span style="font-weight: bold; color: rgba(0,191,3,0.54);">Активен</span>
                            {% else %}
                                <span style="font-weight: bold; color: rgba(191,29,0,0.54);">Не активен</span>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
