<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="/assets/images/logo.svg">

    <link rel="stylesheet" type="text/css" href="/assets/css.css">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% if app.user %}
    <header>
        <div class="header__nav">
            <ul>
                <li>
                    <a href="{{ path('admin_users') }}">Пользователи</a>
                </li>
                <li>
                    <a href="{{ path('admin_projects') }}">Проекты</a>
                </li>
            </ul>
        </div>

        <div class="header__nav--exit">
            <a href="/logout">Выйти</a>
        </div>
    </header>
{% endif %}
<main>
    {% block main %}{% endblock %}
</main>
<footer></footer>
</body>
</html>
